/********** Template CSS **********/
:root {
    --primary: #2124B1;
    --secondary: #4777F5;
    --light: #F7FAFF;
    --dark: #1D1D27;
    --Rich-black:#000814;
    --oxford-Blue:#001D3D;
    --Yale-blue:#003566;
    --Mikado-yellow:#FFC300;
    --Gold:#FFD60A;
--Engineering-orange:#B80C09;
--Ghost-white:#FBFBFF;
--Selective-yellow:#FFB70D;
--UT-orange:#FB8500;
--blue-green:#219EBC;
--Prussian-blue:#023047;
} 

/* ================== back to top button====================== */
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/* ---------------=========== GENERAL STYLING ==========------------ */
body{
    font-family: "ubuntu" !important;
    color: #1e2734;
    word-spacing: 3px;

}

h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
    font-family: "ubuntu" !important;

}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


p {
    color: #003566;
    font-size: 16px;
    word-spacing: 2px;
}


/* ============ BUTTON STYLING ============ */
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}











/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #F7FAFF !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #4777F5!important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: #1D1D27 !important;
    }

    .navbar-light .navbar-brand h1 {
        color:#2124B1;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
        max-width: 99px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: #4777F5;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color:#2124B1;
    }
}






/* =======================** Hero Header ** ========================*/
.hero-header {
    background-color: #2124B1;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .hero-content {
        padding-bottom: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .hero-content h1 {
        margin-bottom: 1rem !important;
    }

    .hero-content p {
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .hero-content a {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        margin-bottom: 1rem !important;
    }
}

@media (max-width: 767px) {
    .hero-header {
        padding-top: 1.5rem !important; /* Reduced padding top */
        padding-bottom: 1.5rem !important; /* Reduced padding bottom */
        margin-bottom: 1.5rem !important; /* Reduced margin bottom */
    }

    .hero-image {
        display: none;
    }

    .hero-content {
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .hero-content h1 {
        margin-bottom: 0.5rem !important; /* Reduced margin bottom */
    }

    .hero-content p {
        padding-bottom: 0.5rem !important; /* Reduced padding bottom */
        margin-bottom: 0.5rem !important; /* Reduced margin bottom */
    }

    .hero-content a {
        padding-top: 0.25rem !important; /* Reduced padding top */
        padding-bottom: 0.25rem !important; /* Reduced padding bottom */
        margin-bottom: 0.5rem !important; /* Reduced margin bottom */
    }
}




/*================================================================================================================================================================================ --> */
/* ABOUT US SECTION */


.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #1D1D27;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: #1D1D27;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}




/* ==============READ MORE BUTTON====================== */

.read-more {
    text-align: center;
}

.read-more a {
    color: #007bff;
    cursor: pointer;
}

.show-more .read-more {
    display: none;
}

.show-more .read-more.show {
    display: block;
}
/* --------===========END OF READ MORE BUTTON============----------- */










/*** Service ***/
.service-item {
    position: relative;
    height: 350px;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--primary);
    background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--light);
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}












/*** Team ***/
.project-item {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.project-item::after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 3rem;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background:#dcdce3;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    transition: .5s;
    z-index: -1;
color: #000814;
}

.project-item:hover::after {
    background:#FB8500;
    
color: #000814;
}

.team-item h5,
.team-item small {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover small {
    color: #001D3D;
}



















/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--primary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: var(--primary);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}



















/*** Footer ***/
/* =========================== */
/* footer */
/* ========================== */
#footer{
	background: #f7f7f7;
    padding: 3rem;
	padding-top: 5rem;
	padding-top: 7rem;
    padding-bottom: 80px;
	background: #19034d;
}
#footer2{
	background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
	padding-top: 5rem;
	padding-top: 7rem;
    padding-bottom: 80px;
}

.social-links h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
	color: white;
}
.social-links img{
	padding-bottom: 25px;
}

.social-icons{
	/* display: flex;
    gap: 3rem; */
	display: flex;
    flex-direction: column;
    gap: 1rem;
	color: #777777;
}
.social-icons a{
	/* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
	/* margin-right: 18px; */
	color: #777777;
}
.social-icons a:hover{
	color: #000;
}
.social-icons a i{
	box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #bcb5d6;
	font-size: 16px;
	margin-right: 12px;
}
li{
	list-style: none;
}

/* useful links */
.useful-link h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
	color: white;
}
.useful-link img{
	padding-bottom: 15px;
}
.use-links{
	line-height: 32px;
}
.use-links li i{
	font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;
}
.use-links li a:hover{
	color:white;
}


/* Address */
.address h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
	color: white;
}

.address img{
	padding-bottom: 15px;
}
.address-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;
}
.address-links li i{
	font-size: 16px;
    padding-right: 8px;
	color: #bcb5d6;

}
.address-links li i:nth-child(1){
	padding-top: 9px;
}
.address-links .address1{
	font-weight: 500;
    font-size: 15px;
	display: flex;
}
.address-links{
	    line-height: 32px;
		color: #777777;
}

/* copyright */
.copy-right-sec{
	padding: 1.8rem;
	background-color:#120139 ;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
	color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}

#footer p{
	color: white;
}
/* footer section end */



